<% if(defined? object)
    d = object
    abbreviated = true
  else
    d = @doc_instance
    abbreviated = false 
  end
%>

<%= include "partials/title", :object => d, :abbreviated => abbreviated %>

<div class="section">
  <div class="section-title">
  </div> <!-- .section-title -->
  <div class="section-content">
    <div class="method-description">
      <% if d.respond_to?(:signatures) %>
        <%= include "partials/method_signatures", :object => d %>
      <% else %>
        <pre class="syntax"><code class="ebnf"><%= d.signature.name %> &rarr; <%= auto_link_types(d.signature.return_value, :name => :long).join(' | ') %></code></pre>
      <% end %>

      <%= htmlize(d.description) %>
      
      <%= include "partials/relationships", :object => d %>
      <%= include "partials/methodized_note", :object => d %>
    </div>
  </div> <!-- .section-content -->
</div> <!-- .section -->
